body {
  color: rgb(34, 34, 34);
  background-color: white;
  width: 100%;
  margin: 0;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 0.8em;
}

header {
  font-size: 1.5em;
  background-color: #cee3f8;
  padding: 0.5em;
  text-align: center;
  border-bottom: 1px solid #5f99cf;
}

header a {
  color: rgb(34, 34, 34);
  text-decoration: none;
}

.post {
  width: 95%;
  padding: 0;
  display: table;
  border: 1px solid rgb(230, 230, 230);
  border-radius: 0.5em;
  margin: 0.6em auto;
}

.post > * {
  display: table-cell;
}

.post-leftbar {
  text-align: center;
  width: 12%;
  padding: 0.5em;
}

.post-middlebar {
  text-align: center;
  width: 5%;
  padding: 0.2em;
}

.post-mainbar {
  width: 83%;
  padding: 0.5em;
}


/* Create a loading sign whilst any loading is taking place.  This
   will occur whilst #target has the 'loading' class */

#target.loading:before, #target > noscript {
  text-align: center;
  background-color: rgb(247, 247, 248);
  width: 95%;
  content: attr(data-loading);
  padding: 0.7em 0;
  display: table;
  border: 1px solid rgb(230, 230, 230);
  border-radius: 0.5em;
  margin: 0.6em auto;
}

#target:not(.loading):before {
  display: none;
}


/* Magic for the menu.  Maybe it shouldn't be magic.  But then if we just did what we
   were meant to do, God wouldn't have given us Jar Jar Binks. */

#menu-trigger { /* checkbox that we can test if checked */
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

#settings-menu-icon {
  cursor: pointer;
  position: absolute;
  font-size: 2.5em;
  right: 0em;
  top: 0em;
  padding: 0.75em 1.8em;
}

#menu {
  display: none;
}

#menu-trigger:checked ~ #menu {
  display: block;
  background-color: white;
  width: 92%;
  padding: 0.7em 0;
  border: 1px solid #5f99cf;
  border-radius: 0.5em;
  margin: 0.6em auto;
}

#menu > p {
  display: inline-block;
  padding: 0.3em;
  margin: 0.2em 0.5em;
  border: 1px solid rgb(230, 230, 230);
  border-radius: 0.5em;
}

#menu > h3 {
  margin-bottom: 0.1em;
}

#menu > #menu-selectors {
  margin-bottom: 1em;
}

.selector {
  cursor: pointer;
  margin-right: 0.6em;
}

.selector:hover:after {
  background-color: #cee3f8;
  border: 1px solid #5f99cf;
  border-radius: 0.2em;
  padding: 0.3em;
  position: absolute;
  top: 1em;
  left: -0.2em;

  content: attr(data-tooltip);
}
